

@{
    /**/

    ViewBag.Title = "FoodBlogs";
}

<!DOCTYPE html>
<html>
<head>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:700|Open+Sans|Pacifico&display=swap" rel="stylesheet">

    <link href="~/Content/blog.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <div>


        <h1 style=" font-family: 'Pacifico', cursive;font-weight: 400;  color:black;text-align:center;padding:20px">Blogs</h1>

        <div class="row">
            <div class="col-lg-8">
                @for (int i = 0; i < Model.Rows.Count; i++)
                {
                    <div class="row">
                        <div class="container">

                            @{
                                var name = Path.GetFileName(Convert.ToString(Model.Rows[i][3]));
                            }
                            <img src="~/Content/Images/@name" style="width:100%">
                            <div class="content">
                                <h3><a href="">@Model.Rows[i][2]</a></h3>

                                <p>by <a href="@Url.Action("ViewBloggerClick", "Home",new RouteValueDictionary(new { id = Model.Rows[i][1]}))" style="font-style:italic;">@Model.Rows[i][16]</a></p>
                                <div>
                                    <ul class="list-unstyled components" style="margin:0px">
                                        <li id="contents">@Model.Rows[i][4]</li>
                                        <li id="contents" style="border-right: 1px solid #555;"><i class='far fa-comment' style="padding:5px"></i>4</li>

                                    </ul>
                                </div>
                                <p><a href="@Url.Action("BlogClick", "Home",new RouteValueDictionary(new { id = Model.Rows[i][0]}))" style="font-style:italic;">Show more</a></p>
                            </div>
                        </div>
                    </div>

                }

            </div>

            <div class="col-lg-4">


                <div class="row">
                    <form method="POST" action="BlogSearch">
                        <div class="search">
                            <input type="text" class="searchTerm" name="keyword" placeholder="Search here..">
                            <input class="submit-btn" name="submit_button" type="submit" value="SEARCH">

                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="container1" id="joingroup">
                        <h4>Join the group!</h4>

                        <button type="button" class="btn btn-success PostBlogButton" data-toggle="modal" data-target="#postModal">Join <i class="fa fa-plus"></i></button>
                        <h6 style="font-style:italic;color:#9f9d9d;">* You will receive the latest news and updates on food bloggings by creating community here!</h6>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!------------------------poppuppost----------------------------->
    <div class="row">
        <div class="PostBlog" id="postBlog">
            <a class="PostBlogButton" data-toggle="modal" data-target="#postModal"></a>
            <div class="modal fade" id="postModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Community for the bloggers!</h3>
                            <a href="#" data-dismiss="modal" class="close"><span>&times;</span></a>

                        </div>
                        <div class="modal-body">
                            <p>* If you are a BLOGGER, join the group. </p>
                            <form action="joinCommunity" method="POST" enctype="multipart/form-data">
                                <table border="0" cellspacing="10">

                                    <tr>
                                        <td>
                                            <input type="text" name="email" placeholder="USER MAIL" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="password" name="pass" placeholder="PASSWORD" />
                                        </td>
                                    </tr>
                                </table>
                                <button class="btn btn-primary">Join</button>
                                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <center>
        <script type="text/javascript">
    $(document).ready(function () {

        var msg = '@TempData["join"]';

        if (msg == '1') {
            alert("Sorry. Only bloggers can join the community.");
        }

    });
        </script>

    </center>



</body>
</html>




